.background-hospital-Image {
    background-image: url('../../../assets/hos_back.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* Set the height to fill the viewport */
    height: 100vh;

}